@import 'tailwindcss';
@import 'tailwindcss';
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


* {
  font-family: 'Poppins', serif;
  transition: background-color var(--transition-duration) ease, border-color var(--transition-duration) ease;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}
